.navbar {
    background-color: lightblue;
}

h1, h3 {
    justify-content: center;
}

h1 {
    color: red;
    font-size: 88px;
}

.nav-link {
    color: pink;
}

body {
    background-color: #4A412A;
}