{% extends 'base.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'js/bug/bug.js' %}"></script>
<img src="{% static 'images/fly-sprite.png' %}">
{% block title %}Home{% endblock title %}


{% block content %}

<!-- <script type='text/javascript'>
    // default fruit fly bug:
    new BugController({
    });

    // default spiders:
    new SpiderController({
    }); -->
</script>
    <h2>Home</h2>
    <h3>You've arrived at <br>
    <h1>Message. <br>
    <i>Bored.</i></h1>
    <h3>Read a post, make a post, or just lurk.</h3>
    <h4>Do what you want...life is futile anyways.</h4>


    <footer>
        You might be asking yourself:  Eww.  Is that the world's least attractive color know as Pantone 448 C?
    
        Our response: You can leave whenever you want.
    </footer>
    
{% endblock content %}

